.App {
  text-align: center;
  font-size: 62.5%;

  color: black;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player-card {
  border: 1px solid black;
  border-radius: 1rem;

  width: 18rem;
  padding: 1rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
